<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="DefaultConnectionString" value="Quoting.Database"/>
  </appSettings>
  
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
			     invariant="Npgsql"
			     description ="Data Provider for PostgreSQL"
			     type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="Quoting.Database"
		     connectionString="Server=127.0.0.1;port=5432;Database=test;User Id=test;Password=test1234;"
		     providerName="Npgsql" />
  </connectionStrings>
  
</configuration>